{% extends 'base.html.twig' %}

{% block title %}Edit Tournaments{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit Tournaments</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_tournaments_index') }}">
                    View All Tournaments
                </a>
            </div>
            <div class="card-body">
                {% include 'tournaments/_form.html.twig' with {'button_label': 'Update Tournament', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
